body{
    background-color:pink;
}
#boll{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}
#boll img{
    max-height: 500px;
}
#mal{
    border-top: solid white;
    border-bottom: solid white;
}
#mal img{
    margin: 15px;
    width: 200px;
}